.classyslider-wrapper {
    border: 0;
    padding: 0;
    margin: auto
}

.classyslider-vertical-slider {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px
}

.classyslider-vertical-slider>li {
    list-style: none;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 1px;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
    width: 500px
}

.classyslider-vertical-slider>li img {
    border: 0;
    margin: 0;
    padding: 0
}

.classyslider-vertical-slider>li>div a {
    text-decoration: none;
    color: #fff
}

.classyslider-vertical-slider>li .slide-widget-caption {
    font-family: Helvetica, arial;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    margin: 15px 0 0 15px
}

.classyslider-vertical-slider>li .slide-widget-text {
    vertical-align: middle
}