.reviews {
  background: rgb(227, 226, 235) !important;
}

.imports-body {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.exports-body {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.article-body {
  margin-top: 15rem !important;
  margin-bottom: 5rem !important;
}

#detail .body-detail {
  padding-top: 15rem;
  padding-bottom: 5rem;
  background: rgb(227, 226, 235);
}

.article-img {
  /* box-shadow : 0 20px 10px rgba(119, 119, 119, 0.7) !important; */
  padding-bottom: 2rem;
  max-width: 100% !important;
  max-height: 100% !important;
}

.article .article-title {
  padding: 2rem;
}

.article-snippet {
  font-size: 2rem;
  padding: 2rem;
}

.article-details li {
  text-decoration: none;
  display: inline-block;
  padding-left: 2rem;
}

.article-txt {
  max-width: 100%;
  margin-top: 2rem;
  min-height: 305px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
}

.article-txt p {
  font-size: 1.5rem;
}

.article-readmore {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.articles-wrapper .row {
  min-height: 300px;
}

.detail-img {
  max-height: 300px;
  overflow: hidden;
}

.detail-txt {
  padding: 2rem;
}

.detail-body {
  margin-top: 2rem;
  padding: 2rem;
}

.placeholder {
  height: 20px !important;
}

.custom-img {
  padding-top: 4rem !important;
  padding-right: 1rem !important;
}

.blog-item {
  margin-top: 5rem !important;
}

.custom_p {
  padding-top: 1.5rem !important;
}

.retail-qns {
  padding-top: 1.6rem !important;
  font-size: 1.6rem !important;
  line-height: 2rem;
  list-style: none;
}
.retail-p {
  padding-left: 1.2rem;
  padding-top: 1.6rem !important;
  font-size: 1.6rem !important;
  line-height: 2rem;
}

.factsheet {
  padding: 0;
  margin: 0;
}

.factsheet button {
  background: #23479B none repeat scroll 0 0;
  color: rgb(255, 255, 255);
  font-family: OpenSansBold;
  font-size: 16px;
  height: 44px;
  padding: 0 22px;
  margin-top: 20px;
  border: 3px solid #23479B;
}
.factsheet button:hover {
  border: 3px solid #0074BB;
  background: #ffffff;
  color: #0074BB;
}

.ivend-logo{
  padding-left: 2.5rem;
}

.retail-ul {
  padding-top: 1rem !important;
  font-size: 1.6rem !important;
  line-height: 2rem;
  list-style: none;
  display: flex;
}

.retail-ul li {
  padding-left: 1.2rem;
}